<?xml version="1.0" encoding="utf-8"?>
<!-- Debug builds only: the globe test screen, merged into the main manifest. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".GlobeTestActivity"
            android:exported="true" />
    </application>
</manifest>
